body {
    background-image: url("../../assets/images/islamic_wallpapaer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-login {
    background-color: white;
    border-radius: 7px;
    opacity: 0.8;
}